<section *ngIf="!showPage">
    <div class=" container">
     <p>Aucune tâche pour le moment 🙌</p>
      <button (click)="goToPage2()">{{ label }}</button>
    </div>
  </section>
  <ng-container *ngIf="showPage" style="display:none">
      <div class= "deuxListes">
        <p>⚠️ Tâche urgentes</p>
       <ul class="scrollable-list">
        <li *ngFor="let task of urgentList">
          <label class="rond">
           <input  type="checkbox"  (click)="removeTask(task, 'urgentList')"/>
          </label>
          <a (click)="getmodifiedTask(task.task)">{{ task.task }}</a>
        </li>
       </ul >
       <div class="tacheUrgente">
      <p>🌸 Tâches non urgentes</p>
      <ul class="scrollable-list">
        <li *ngFor="let task of ordinaryList">
          <label class="rond">
            <input  type="checkbox"  (click)="removeTask(task, 'ordinaryList')" />
            </label>
            <a (click)="getmodifiedTask(task.task)">{{ task.task }}</a>
          </li>
        </ul>
      </div>
      </div>
  </ng-container> 
  